body{
    background-color: aliceblue;
}
h1{
    color:rgb(122, 74, 185) ;
    text-decoration: underline;
}

footer{
    background-color:rgb(83, 83, 83) ;
}
footer p {
    color: rgb(255, 255, 255);
    text-align: center;
}